.bag {
  padding: 40px 20px;

}

.bag h2 {
  font-weight: 700;
  color: #fff;
  ;
}

.bag-list {
  display: flex;
  flex-wrap: wrap;
}

.bag-item {
  transition: transform 0.2s ease-in-out;
}

.bag-item:hover {
  transform: scale(1.02);
}
.bag-item img {
  border-radius: 8px;
}